<a href="https://colab.research.google.com/github/Wesky05/Big_data/blob/main/bigdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:

!pip install gdown pyspark pandas

In [79]:
import gdown

url = 'https://drive.google.com/uc?id=1jw0Uoy1OKzCTBMTB_ELknAIn0dYRgoXM'

output_path = 'mental.db'

gdown.download(url, output_path, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1jw0Uoy1OKzCTBMTB_ELknAIn0dYRgoXM
To: /content/mental.db
100%|██████████| 5.89M/5.89M [00:00<00:00, 138MB/s]

'mental.db'

In [80]:
import sqlite3

connection = sqlite3.connect('mental.db')

### Processamento

In [110]:
import pandas as pd
from pyspark.sql import SparkSession


spark = SparkSession.builder \
    .appName("Leitura de Tabela Answer com PySpark") \
    .getOrCreate()

# Carregar dados da tabela Answer usando Pandas
import sqlite3
conn = sqlite3.connect('mental.db')
query = "SELECT * FROM Answer"
df_pandas = pd.read_sql_query(query, conn)
conn.close()

# Converter DataFrame do Pandas para DataFrame do PySpark
df_answer = spark.createDataFrame(df_pandas)

# Exibir os primeiros registros para verificar
df_answer.show()

+----------+--------+------+----------+
|AnswerText|SurveyID|UserID|QuestionID|
+----------+--------+------+----------+
|        37|    2014|     1|         1|
|        44|    2014|     2|         1|
|        32|    2014|     3|         1|
|        31|    2014|     4|         1|
|        31|    2014|     5|         1|
|        33|    2014|     6|         1|
|        35|    2014|     7|         1|
|        39|    2014|     8|         1|
|        42|    2014|     9|         1|
|        23|    2014|    10|         1|
|        31|    2014|    11|         1|
|        29|    2014|    12|         1|
|        42|    2014|    13|         1|
|        36|    2014|    14|         1|
|        27|    2014|    15|         1|
|        29|    2014|    16|         1|
|        23|    2014|    17|         1|
|        32|    2014|    18|         1|
|        46|    2014|    19|         1|
|        36|    2014|    20|         1|
+----------+--------+------+----------+
only showing top 20 rows

In [83]:
import pandas as pd
from pyspark.sql import SparkSession

# Iniciar uma sessão do Spark
spark = SparkSession.builder \
    .appName("Leitura de Tabela Question com PySpark") \
    .getOrCreate()

# Carregar dados da tabela Question usando Pandas
import sqlite3
conn = sqlite3.connect('mental.db')
query = "SELECT * FROM Question"
df_pandas = pd.read_sql_query(query, conn)
conn.close()

# Converter DataFrame do Pandas para DataFrame do PySpark
df_question = spark.createDataFrame(df_pandas)

# Exibir os primeiros registros para verificar
df_question.show()

+--------------------+----------+
|        questiontext|questionid|
+--------------------+----------+
|   What is your age?|         1|
|What is your gender?|         2|
|What country do y...|         3|
|If you live in th...|         4|
|Are you self-empl...|         5|
|Do you have a fam...|         6|
|Have you ever sou...|         7|
|How many employee...|         8|
|Is your employer ...|         9|
|Does your employe...|        10|
|Is your anonymity...|        11|
|Would you bring u...|        12|
|Is your primary r...|        13|
|Do you know the o...|        14|
|Has your employer...|        15|
|Does your employe...|        16|
|If a mental healt...|        17|
|Would you feel co...|        18|
|Would you feel co...|        19|
|Do you have medic...|        20|
+--------------------+----------+
only showing top 20 rows

In [84]:
import pandas as pd
from pyspark.sql import SparkSession

# Iniciar uma sessão do Spark
spark = SparkSession.builder \
    .appName("Leitura de Tabela Survey com PySpark") \
    .getOrCreate()

# Carregar dados da tabela Survey usando Pandas
import sqlite3
conn = sqlite3.connect('mental.db')
query = "SELECT * FROM Survey"
df_pandas = pd.read_sql_query(query, conn)
conn.close()

# Converter DataFrame do Pandas para DataFrame do PySpark
df_survey = spark.createDataFrame(df_pandas)

# Exibir os primeiros registros para verificar
df_survey.show()

+--------+--------------------+
|SurveyID|         Description|
+--------+--------------------+
|    2014|mental health sur...|
|    2016|mental health sur...|
|    2017|mental health sur...|
|    2018|mental health sur...|
|    2019|mental health sur...|
+--------+--------------------+

### Análises

In [93]:
# Importar funções do PySpark SQL
from pyspark.sql.functions import col, desc

# Contar o número total de respostas
total_answers = df_answer.count()
print(f"Total de Respostas: {total_answers}")

# Exibir os primeiros registros
print("Primeiros registros da tabela Answer:")
df_answer.show(5)

# Verificar as colunas presentes no DataFrame
print("Colunas do DataFrame df_answer:")
df_answer.printSchema()

# Analisar as respostas mais frequentes (exemplo)
print("Top 5 Respostas mais frequentes:")
df_answer.groupBy("AnswerText").count().orderBy(desc("count")).show(5, truncate=False)

Total de Respostas: 236898
Primeiros registros da tabela Answer:
+----------+--------+------+----------+
|AnswerText|SurveyID|UserID|QuestionID|
+----------+--------+------+----------+
|        37|    2014|     1|         1|
|        44|    2014|     2|         1|
|        32|    2014|     3|         1|
|        31|    2014|     4|         1|
|        31|    2014|     5|         1|
+----------+--------+------+----------+
only showing top 5 rows

Colunas do DataFrame df_answer:
root
 |-- AnswerText: string (nullable = true)
 |-- SurveyID: long (nullable = true)
 |-- UserID: long (nullable = true)
 |-- QuestionID: long (nullable = true)

Top 5 Respostas mais frequentes:
+----------+-----+
|AnswerText|count|
+----------+-----+
|-1        |56598|
|No        |26899|
|Yes       |18232|
|1         |15308|
|0         |15247|
+----------+-----+
only showing top 5 rows

In [125]:

from pyspark.sql.functions import col, count, desc

# Contagem de respostas por pergunta
answer_count_per_question = df_answer.groupBy("QuestionID").agg(count("AnswerText").alias("TotalAnswers")) \
    .orderBy(desc("TotalAnswers"))

# Juntar com o DataFrame df_question para mostrar o texto da pergunta
answers_and_questions = answer_count_per_question.join(df_question, "QuestionID", "left") \
    .select("QuestionText", "TotalAnswers") \
    .orderBy(desc("TotalAnswers"))

# Exibir as perguntas mais respondidas com o número de respostas
print("Perguntas mais respondidas com o número de respostas:")
answers_and_questions.show(truncate=False)

Perguntas mais respondidas com o número de respostas:
+-----------------+------------+
|QuestionText     |TotalAnswers|
+-----------------+------------+
|What is your age?|4218        |
+-----------------+------------+

In [95]:
# Exibir os primeiros registros
print("Primeiros registros da tabela Survey:")
df_survey.show(5)

# Verificar as colunas presentes no DataFrame
print("Colunas do DataFrame df_survey:")
df_survey.printSchema()

# Contar o número total de pesquisas
total_surveys = df_survey.count()
print(f"Total de Pesquisas: {total_surveys}")

# Exemplo de descrição das pesquisas (se houver descrição)
print("Descrição das Pesquisas:")
df_survey.select("Description").show(truncate=False)

Primeiros registros da tabela Survey:
+--------+--------------------+
|SurveyID|         Description|
+--------+--------------------+
|    2014|mental health sur...|
|    2016|mental health sur...|
|    2017|mental health sur...|
|    2018|mental health sur...|
|    2019|mental health sur...|
+--------+--------------------+

Colunas do DataFrame df_survey:
root
 |-- SurveyID: long (nullable = true)
 |-- Description: string (nullable = true)

Total de Pesquisas: 5
Descrição das Pesquisas:
+-----------------------------+
|Description                  |
+-----------------------------+
|mental health survey for 2014|
|mental health survey for 2016|
|mental health survey for 2017|
|mental health survey for 2018|
|mental health survey for 2019|
+-----------------------------+

### **Limpeza de dados**

Remoção de duplicatas

In [119]:

# Exemplo de remover linhas duplicadas em df_question
df_question = df_question.dropDuplicates()
print("Primeiros registros de df_question:")
df_question.show()

Primeiros registros de df_question:
+--------------------+----------+
|        questiontext|questionid|
+--------------------+----------+
|Do you have previ...|        22|
|Would you bring u...|        12|
|Overall, how much...|        64|
|Is your primary r...|        13|
|Are you self-empl...|         5|
|Do you have a fam...|         6|
|Have you observed...|        56|
|Does your employe...|        10|
|How many employee...|         8|
|Do you believe yo...|        54|
|Is your employer ...|         9|
|If a mental healt...|        17|
|Describe the conv...|        59|
|How willing would...|        30|
|Have you ever dis...|        60|
|If you have a men...|        48|
|Has your employer...|        15|
|What US state or ...|        51|
|Have you ever had...|        62|
|Does your employe...|        16|
+--------------------+----------+
only showing top 20 rows

In [97]:
# Contar o número de respostas por pesquisa
answers_per_survey = df_answer.groupBy("SurveyID").agg(count("AnswerText").alias("TotalAnswers"))

# Juntar com o DataFrame df_survey para mostrar a descrição da pesquisa
answers_and_surveys = answers_per_survey.join(df_survey, "SurveyID", "left") \
    .select("Description", "TotalAnswers")

# Exibir as descrições das pesquisas com o número total de respostas
print("Descrição das pesquisas com o número total de respostas:")
answers_and_surveys.show(truncate=False)

Descrição das pesquisas com o número total de respostas:
+-----------------------------+------------+
|Description                  |TotalAnswers|
+-----------------------------+------------+
|mental health survey for 2014|32760       |
|mental health survey for 2016|88238       |
|mental health survey for 2017|57456       |
|mental health survey for 2018|31692       |
|mental health survey for 2019|26752       |
+-----------------------------+------------+

Localizar perguntas sem respostas

In [105]:

unanswered_questions = df_question.join(df_answer, "QuestionID", "leftanti") \
    .select("questiontext")

print("Perguntas sem respostas:")
unanswered_questions.show(truncate=False)

Perguntas sem respostas:
+------------+
|questiontext|
+------------+
+------------+

Renomear e filtrar

In [118]:
# Exemplo de renomear colunas em df_survey
df_survey = df_survey.withColumnRenamed("Description", "SurveyDescription")
# Exemplo de filtrar dados em df_survey
df_survey_filtered = df_survey.filter(df_survey["SurveyID"] > 100)
print("Primeiros registros de df_survey:")
df_survey.show()

Primeiros registros de df_survey:
+--------+--------------------+
|SurveyID|   SurveyDescription|
+--------+--------------------+
|    2014|mental health sur...|
|    2016|mental health sur...|
|    2017|mental health sur...|
|    2018|mental health sur...|
|    2019|mental health sur...|
+--------+--------------------+

Contagem de valores nulos e alteração de schema

In [124]:

# Exemplo de contagem de valores nulos em df_answer
print("Número de linhas nulas em df_answer:")
df_answer.select([count(when(isnull(col), col)).alias(col) for col in df_answer.columns]).show()

# Exemplo de ajuste de tipos de dados em df_answer
df_answer = df_answer.withColumn("SurveyID", df_answer["SurveyID"].cast(IntegerType()))
df_answer.printSchema()

print("Primeiros registros de df_answer:")
df_answer.show()

Número de linhas nulas em df_answer:
+----------+--------+------+----------+
|AnswerText|SurveyID|UserID|QuestionID|
+----------+--------+------+----------+
|         0|       0|     0|         0|
+----------+--------+------+----------+

root
 |-- AnswerText: string (nullable = true)
 |-- SurveyID: integer (nullable = true)
 |-- UserID: long (nullable = true)
 |-- QuestionID: long (nullable = true)

Primeiros registros de df_answer:
+----------+--------+------+----------+
|AnswerText|SurveyID|UserID|QuestionID|
+----------+--------+------+----------+
|        37|    2014|     1|         1|
|        44|    2014|     2|         1|
|        32|    2014|     3|         1|
|        31|    2014|     4|         1|
|        31|    2014|     5|         1|
|        33|    2014|     6|         1|
|        35|    2014|     7|         1|
|        39|    2014|     8|         1|
|        42|    2014|     9|         1|
|        23|    2014|    10|         1|
|        31|    2014|    11|         1|
|        29|    2014|    12|         1|
|        42|    2014|    13|         1|
|        36|    2014|    14|         1|
|        27|    2014|    15|         1|
|        29|    2014|    16|         1|
|        23|    2014|    17|         1|
|        32|    2014|    18|         1|
|        46|    2014|    19|         1|
|        36|    2014|    20|         1|
+----------+--------+------+----------+
only showing top 20 rows